@mixin font-face($name) {
    @font-face{
        font-family: $name;
        font-weight: normal;
        font-style: normal;

        src: url('../fonts/#{$name}.eot');
        src:
            url('../fonts/#{$name}.eot?##{$name}') format('embedded-opentype'),
            url('../fonts/#{$name}.woff') format('woff'),
            url('../fonts/#{$name}.ttf') format('truetype'),
            url('../fonts/#{$name}.svg') format('svg');
    }
}
